:root {
	/* Цвет текста */
	--primary-text-color: #212121;
	--secondary-text-color: #757575;

	/* Цвет выдиления ссылок и кнопок */
	--accent-color: #2196f3;
	--batton-hover: #188ce8;

	/* Цвет для секций и кнопок */
	--section-bg-color: #f5f4fa;

	/* Основной белый цвет */
	--primary-wight-color: #ffffff;

	/* Цвет подвала */
	--footer-color: #2f303a;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--primary-wight-color);
	color: var(--primary-text-color);
}

/* Селектор наследующий шрифт для кнопки */
button {
	font-family: inherit;
}

/* Селектор для устранения маркеров от списков ul*/
.list,
.galeri-link {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;

	/* outline: 2px solid tomato; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/*Header*/
.web {
	color: var(--accent-color);
}

.logo,
.footer-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	color: var(--primary-text-color);
	text-decoration: none;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 20px;

	color: var(--primary-wight-color);
}

/*================Nav====================== */
.nav,
.nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: var(--primary-text-color);
	text-decoration: none;
}

.container.header,
.nav,
.menu,
.contacts {
	display: flex;
}

.header,
.nav {
	align-items: center;
}

.logo {
	margin-right: 93px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.menu .item + .item,
.contacts .item + .item {
	margin-left: 50px;
}

.contacts {
	margin-left: auto;
}

.menu .nav-link,
.contacts .header-link {
	padding-top: 32px;
	padding-bottom: 32px;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
	color: var(--accent-color);
}

/*Указывает пользователю текущюю страницу */
.nav .nav-link.current {
	color: var(--accent-color);
}

/*Contacts*/
.header-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	color: var(--secondary-text-color);
	text-decoration: none;
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}
/*Header ==============end================*/

/*Main начало оформления основного контента на странице*/
/* Hero */
.hero,
.footer {
	background-color: var(--footer-color);
}
.container .hero-title {
	padding-top: 200px;
	padding-bottom: 30px;
}

.hero-title {
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;

	color: var(--primary-wight-color);
}

/* Button Оформление кнопки */
.container .btn-box {
	display: flex;
	justify-content: center;
	padding-bottom: 200px;
}

.btn {
	width: 200px;
	height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	background-color: var(--accent-color);
	color: var(--primary-wight-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;

	cursor: pointer;
}

.btn:hover,
.btn:focus {
	background-color: var(--batton-hover);
}
/*Hero ==============end================*/

/*Sectin оформление заголовков и текста*/
/* Особенности*/
.description .description-box + .description-box {
	margin-left: 30px;
}

.description {
	padding-top: 94px;
	padding-bottom: 94px;

	display: flex;
	justify-content: space-between;
}
.description-item {
	width: 270px;
	height: 101px;
}
/* Особенности========and========== */

/* Чем мы занимаемся */
.galeri-container,
.team-container {
	padding-bottom: 94px;

	display: flex;
	justify-content: space-between;
}
/* Чем мы занимаемся=========and========== */

.section.team {
	background-color: var(--section-bg-color);
	color: var(--primary-text-color);
}

.section-title {
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.title {
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.text {
	margin: 0;

	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	color: var(--secondary-text-color);
}
/* Оформление карточек команды */
.team-container {
	padding-bottom: 94px;
}

.team-container-item {
	width: 270px;
	height: 368px;

	background-color: var(--primary-wight-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-img {
	margin-bottom: 30px;
}

.cards-title {
	padding-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}
.cards-text {
	margin: 0;
	padding-bottom: 30px;

	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--secondary-text-color);
}
/*Section ==============end================*/
/*Main ==============end================*/

/*============ Footer============*/
.footer {
	background-color: var(--footer-color);
}

.footer-container {
	display: flex;
	flex-direction: column;
}

/* Address*/
.address {
	margin-top: 60px;
	margin-bottom: 60px;
	width: 231px;
}

.address-text {
	margin: 0;
	margin-bottom: 9px;

	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	color: var(--primary-wight-color);
}

/*Оформление meil & tel =========*/
.address-item:nth-child(1) {
	display: inline-block;
	margin: 0;
	margin-bottom: 9px;
}
.address-link {
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
	color: var(--accent-color);
}
/*Footer ==============end================*/

/*=================================================Оформление страницы портфолио =========================================================*/

/* Оформление кнопок фильтра */
.filter-btn {
	/*Типографика*/
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;

	/*Отображение*/
	background: var(--section-bg-color);

	/*Прочее*/
	cursor: pointer;
}
/* Активность кнопок при наведении */
.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--accent-color);
	color: var(--primary-wight-color);
}
/* Оформление карточек галереи */
.portfolio-title {
	/*Типографика*/
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	/*Отображение*/
	color: var(--primary-text-color);
}
.portfolio-text {
	/*Типографика*/
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	/*Отображение*/
	color: var(--secondary-text-color);
}
