:root {
	/* Цвет текста */
	--primary-text-color: #212121;
	--secondary-text-color: #757575;

	/* Цвет выдиления ссылок и кнопок */
	--accent-color: #2196f3;
	--batton-hover: #188ce8;

	/* Цвет для секций и кнопок */
	--section-bg-color: #f5f4fa;

	/* Основной белый цвет */
	--primary-wight-color: #ffffff;

	/* Цвет подвала */
	--footer-color: #2f303a;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--primary-wight-color);
	color: var(--primary-text-color);
}

/* Селектор наследующий шрифт для кнопки */
button {
	font-family: inherit;
}
/* Селектор для устранения маркеров от списков ul*/
.list,
.galeri-link {
	margin: 0;
	list-style: none;
	text-decoration: none;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;

	outline: 2px solid tomato;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
/* Начало оформления Header*/

/* WebStudio оформление логотипа в хедере и в футере*/
.web {
	color: var(--accent-color);
}

.logo,
.footer-logo {
	/*Типографика*/
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;

	/*Отображение*/
	color: var(--primary-text-color);
	text-decoration: none;
}

.footer-logo {
	color: var(--primary-wight-color);
}

/*Nav оформление навигационных ссылок */
.nav,
.nav-link {
	/*Типографика*/
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	/*Отображение*/
	color: var(--primary-text-color);
	text-decoration: none;
}
.container.header {
	display: flex;
	flex-direction: row;
}
.nav {
	display: flex;
}
.menu {
	display: flex;
	widows: 294px;
}
.contacts {
	display: flex;
}
/*Ссылки навигации в активном состоянии
	эфект наведения и фокуса*/
.nav .nav-link:hover,
.nav .nav-link:focus {
	color: var(--accent-color);
}
/*Указывает пользователю текущюю страницу */
.nav .nav-link.current {
	color: var(--accent-color);
}

/*Contacts оформление контактных ссылок*/
.header-link {
	margin-bottom: 0;
	/*Типографика*/
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.02em;

	/*Отображение*/
	color: var(--secondary-text-color);
	text-decoration: none;
}
/*Ссылки контактов в активном состоянии
	эфект наведения и фокуса*/
.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}
/*Header ==============end================*/

/*Main начало оформления основного контента на странице*/
/*Секция Hero содержит 
	бекграунд, заголовок и кнопку*/
.hero,
.footer {
	background-color: var(--footer-color);
}

.hero-title {
	/*Расположение*/
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	/*Типографика*/
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;

	/*Отображение*/
	color: var(--primary-wight-color);
}

/* Button Оформление кнопки */
.btn {
	/*Типографика*/
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	/*Отображение*/
	background-color: var(--accent-color);
	color: var(--primary-wight-color);

	/*Прочее*/
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	background-color: var(--batton-hover);
}
/*Hero ==============end================*/

/*Sectin оформление заголовков и текста*/
.section.team {
	background-color: var(--section-bg-color);
	color: var(--primary-text-color);
}

.section-title {
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
}

.title {
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.text {
	margin: 0;
	/*Типографика*/
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;

	/*Отображение*/
	color: var(--secondary-text-color);
}
/* Оформление карточек команды */
.cards-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}
.cards-text {
	margin: 0;
	/*Типографика*/
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.03em;

	/*Отображение*/
	color: var(--secondary-text-color);
}
/*Section ==============end================*/
/*Main ==============end================*/

/* Начало оформления Footer*/
/* footer оборачивает все блоки в нутри футера */
.footer {
	background-color: var(--footer-color);
}

/* Address Оборачивает контактную информацию компании*/
.address-text {
	/*Типографика*/
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	/*Отображение*/
	color: var(--primary-wight-color);
}

/*Оформление meil & tel в футере*/
.address-link {
	/*Типографика*/
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	/*Отображение*/
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
}
/* Активность ссылок при наведении */
.address-link:hover,
.address-link:focus {
	color: var(--accent-color);
}
/*Footer ==============end================*/

/*=================================================Оформление страницы портфолио =========================================================*/

/* Оформление кнопок фильтра */
.filter-btn {
	/*Типографика*/
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;

	/*Отображение*/
	background: var(--section-bg-color);

	/*Прочее*/
	cursor: pointer;
}
/* Активность кнопок при наведении */
.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--accent-color);
	color: var(--primary-wight-color);
}
/* Оформление карточек галереи */
.portfolio-title {
	/*Типографика*/
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	/*Отображение*/
	color: var(--primary-text-color);
}
.portfolio-text {
	/*Типографика*/
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	/*Отображение*/
	color: var(--secondary-text-color);
}
